form {

    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 10px solid black;
    background-color: goldenrod;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="submit"] {
    margin-top: 20px;
    background-color: navajowhite;
}
